<div class="table">
<table border="2" > 
    <tr>
        <td>name</td>
        <td>Age</td>
        <td>Id</td>
        <td>course</td>
        
    </tr>
    <tr class="for" *ngFor="let alu of alunos">
            <td class="for">{{alu.name}}</td>
            <td>{{alu.id}}</td>
            <td>{{alu.age}}</td>
            <td>{{alu.course}}</td>
            <td>
                <button type="button" (click)="onSelect(alu)">Editar Aluno</button>
            </td>
        </tr>

</table>

<div class="for" *ngIf="selectedstudent">
    <h1>Name: {{selectedstudent.name | uppercase}}</h1>
    <h3>id: {{selectedstudent.id}}</h3>
    <h3>age: {{selectedstudent.age}}</h3>
    <h3>course: {{selectedstudent.course}}</h3>
     
    
    <div>
    <label for="name"> New Name: </label>
    <input id = "name" [(ngModel)]="selectedstudent.name" placeholder="name">
    
    <label for="id"> New id: </label>
    <input id = "id" [(ngModel)]="selectedstudent.id" placeholder="id">
    
    <label for="age"> New Age: </label>
    <input id = "age" [(ngModel)]="selectedstudent.age" placeholder="age">

    <label for="course"> New Course: </label>
    <input id = "course" [(ngModel)]="selectedstudent.course" placeholder="course">
    
    </div>
    
</div>

</div>
