
<table border="1"> 
    <tr>
        <td>name</td>
        <td>Age</td>
        <td>Id</td>
        <td>course</td>
        
    </tr>
    <tr *ngFor="let alu of alunos">
            <td>{{alu.name}}</td>
            <td>{{alu.id}}</td>
            <td>{{alu.age}}</td>
            <td>{{alu.course}}</td>
            <td>
                <button type="button" (click)="onSelect(alu)">Editar</button>
            </td>
        </tr>

</table>

<div *ngIf="selectedstudent">
    <h1>Name: {{selectedstudent.name | uppercase}}</h1>
    <h3>id: {{selectedstudent.id}}</h3>
    <h3>age: {{selectedstudent.age}}</h3>
    <h3>course: {{selectedstudent.course}}</h3>
     
    
    <div>
    <label for="student-name"> student Name: </label>
    <input id = "student-name" [(ngModel)]="selectedstudent.name" placeholder="name">
    </div>
    
</div>



